@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/utilities' as *;


.press {
    padding: $spacing-xl;

    &-title {
        text-align: center;
        @include title($color: $color-white, $font: $font-title-heavy);
        margin-bottom: $spacing-lg;
    }

    &-grid {

        @include responsive-grid($columns: 3, $gap: $spacing-lg);


    }


}