@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/utilities' as *;


.catalog {
    margin: $spacing-xl;
    padding: 1rem 3rem;

    @include mobile {
        margin: 0;

        padding: $spacing-lg;
    }
}