// // verdes 
// $color-text: #008037; // verde claro
// $color-bg: #034a16; // verde oscuro
// $color-text: #0d7232; // verde medio
// // amarillo
// $color-text: #fed305; // amarillo claro
// $color-text: #f9a705; // amarillo oscuro naranja


// 🎨 Colores
$color-primary: #034a16; // Verde oscuro;
$color-secondary: #008037; // Verde claro;
$color-primary-bg: #034916;
$color-bg-secondary: #ebebeb; // Gris claro;
$color-white: #fff;
$color-yellow: #fed305;
$color-yellow-dark: #f9a705; // Amarillo oscuro;
$color-yellow-light: #f9eba2; // Amarillo claro;
$color-black: #000000;

$hover-text: #fed305; // Amarillo claro;


// 📐 Spacing
$spacing-xs: .25rem;
$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

// 🖋️ Tipografía
$font-main: 'Glacial-Indifference-Regular';
$font-title-heavy: 'Raleway-Heavy';
$font-title-bold: 'Raleway-Bold';
$font-text: 'Glacial-Indifference-Regular';
$font-button: 'Raleway-SemiBold';
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 3rem;
$font-size-xxl: 4rem;