@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/utilities' as *;

.hero {
  // top: -5rem;

  display: grid;
  grid-template-rows: 1fr auto;
  // position: relative;
  z-index: 0;
  @include responsive-height(100vh);




  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('@/assets/images/hero-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
  }

  &-content {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: $spacing-lg;
    color: $color-white;
    position: relative;
    z-index: 1;
    align-content: center;
    @include responsive-grid($columns: 2);


    .hero-text {
      color: $color-white;
      text-align: center;
      margin-bottom: $spacing-lg;
      max-width: 70%; // ancho máximo para que no se estire demasiado
      margin: 0 auto; // centrar el texto horizontalmente
      grid-column: 2 / 3; // ocupar la segunda columna

      h1 {
        font-size: $font-size-xl;
        margin-bottom: $spacing-md;
      }

      p {
        font-size: $font-size-lg;
        margin-bottom: $spacing-lg;
      }
    }

    .hero-button {
      grid-column: 2 / 3;
      @include button($color-yellow, $color-secondary);


    }



  }

}

.section-numbers {

  // @include responsive-height(80vh);


  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $spacing-md;
    color: $color-white;



    .section-numbers__stats {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: $spacing-md;
      justify-content: space-around;
      gap: 1rem;
      width: 80%;

      .number-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        // font-size: $font-size-lg;
        text-shadow: 2px 2px 4px rgba($color-black, 0.5);

        .number {
          font-weight: bold;
          font-size: $font-size-xxl;
          color: $color-white;
        }

        .label {
          font-size: $font-size-lg;
          color: $color-white;
        }
      }
    }

  }

  &__event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: $spacing-lg;
    font-size: $font-size-lg;
    color: $color-white;
    gap: $spacing-md;

    p {
      margin: 0;
      // line-height: 1.8;
      font-weight: bold;
    }
  }
}

.section-slider {
  align-content: center;
  background: linear-gradient(to bottom, $color-bg-secondary 50%, $color-primary-bg 50%);
  @include responsive-height(100vh); // eliminar altura fija

  .slider-component {
    width: 100%;
    padding: 2rem;

    .slider-card {
      img {
        width: 100%;

        object-fit: cover;
        border-radius: 0 3rem 0 0;
        margin-bottom: 1rem;
      }
    }

  }
}

.section-pressArticle {
  background-color: $color-bg-secondary;
  // min-height: 100vh;
  // @include responsive-height();
  @include responsive-padding();

  &-content {
    justify-items: center;
    text-align: center;
    padding: $spacing-md $spacing-xl;
    // height: auto;
    @include responsive-grid($columns: 2);
    @include responsive-padding();

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline: $spacing-lg;
      color: $color-black;
      gap: $spacing-lg;

      h2 {
        width: 50%;
        @include title();

      }

      p {
        @include paragraph();
      }

      .button-container {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: $spacing-md;

        .button {
          @include button($color-yellow);
          padding: .5rem 4rem;


        }
      }
    }

    .image-container {
      position: relative;
      width: 100%;
      max-width: 600px;

      display: flex;
      justify-content: center;
      align-items: center;
      // height: 80%;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('@/assets/images/luisjaime.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        filter: blur(10px);
        z-index: 0;

      }


      .image {
        position: relative;
        z-index: 1;
        width: 50%;
        height: 80%;
        object-fit: cover;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba($color-yellow, 0.1);

      }
    }
  }
}

.section-visits {
  // height: 100vh;
  background-color: $color-primary-bg;
  // @include responsive-height(100vh);


  &-content {
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: $spacing-md $spacing-xl;
    color: $color-black;
    background-color: $color-bg-secondary;
    margin: $spacing-xl;
    border-radius: .5rem;
    padding: $spacing-xl $spacing-md;
    @include responsive-grid($columns: 2);

    @include responsive-padding();

    @include mobile {
      margin: $spacing-md;
      padding: $spacing-lg;
    }

    .image-container {
      .image {
        @include responsive-image($width: 100%, $height: auto);
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline: $spacing-lg;
      gap: $spacing-lg;
      @include responsive-padding();

      h2 {
        @include title();
      }

      p {
        @include paragraph();
      }

      .button-container {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: $spacing-md;

        .button {
          @include button($color-yellow);
        }
      }
    }
  }
}

.section-testimonials {

  background-color: $color-bg-secondary;
  color: $color-primary;
  padding: $spacing-xl;
  // @include responsive-height(80vh);
  @include responsive-padding();

  h2 {
    @include title($color: $color-primary);
    text-align: center;
    margin-bottom: $spacing-xl;
  }

  &-content {
    gap: $spacing-lg;
    padding: 0 $spacing-xl;
    @include responsive-grid($columns: 3);

    @include mobile {
      padding: $spacing-lg;
    }

    h2 {
      @include title();
      margin-bottom: $spacing-lg;
    }

    .testimonial-item {
      height: 100%;
      background-color: $color-white;
      padding: $spacing-md;
      border-radius: .5rem;
      // border: 2px solid $color-primary;
      box-shadow: 0 4px 8px rgba($color-black, 0.1);
      margin-bottom: $spacing-md;

      .testimonial-text {
        @include paragraph($color: $color-primary);

      }

      .testimonial-author {
        font-family: $font-text;
        margin-top: $spacing-sm;
      }
    }

  }



}