@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;
@use '@/styles/utilities' as *;


.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  @include responsive-height(100vh);
  height: 100vh;

  @include mobile {
    height: 100vh;
    top: -3rem;

  }

  .slider-component {
    height: 100%;
    width: 100%;
    padding: 0rem;

    @include mobile {
      height: 100vh;

    }

    .slick-slider,
    .slick-list,
    .slick-track,
    .slider-card {
      height: 100%;

      @include mobile {
        // object-fit: contain;
        height: 100vh;

      }
    }

    .slider-card {
      position: relative;
      padding: 0rem;


      overflow: hidden;

      @include mobile {
        // object-fit: contain;
        height: 100vh;

      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        position: relative;

        @include mobile {
          // object-fit: contain;
          height: 100vh;

        }
      }

      .slider-extra-content {
        position: absolute;
        bottom: 35%;
        left: 18%;
        transform: translateX(-50%);
        z-index: 10;

        @include mobile {
          bottom: 40%;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          width: 70%;
        }

        a {
          @include button($color-yellow, $color-secondary);
          text-decoration: none;

        }
      }

    }
  }

  // .hero-overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 2;
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   color: white;
  // }


  // .hero-text {
  //   color: $color-white;
  //   text-align: center;
  //   margin-bottom: $spacing-lg;
  //   max-width: 70%; // ancho máximo para que no se estire demasiado
  //   margin: 0 auto; // centrar el texto horizontalmente
  //   grid-column: 2 / 3; // ocupar la segunda columna

  //   @include mobile {
  //     width: 80%;
  //   }

  //   h1 {
  //     font-size: $font-size-xl;
  //     margin-bottom: $spacing-md;
  //   }

  //   p {
  //     font-size: $font-size-lg;
  //     margin-bottom: $spacing-lg;
  //   }
  // }

  // .hero-button {
  //   grid-column: 2 / 3;
  //   z-index: 9;
  //   @include button($color-yellow, $color-secondary);


  // }



  // }
}

.section-numbers {
  margin-bottom: 2em;


  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $spacing-md;
    padding-top: 0;
    margin: 5rem $spacing-xl;

    .section-numbers__stats {
      display: flex;
      justify-content: center;
      gap: $spacing-md;
      justify-content: space-around;
      gap: 4rem;

      @include mobile {
        flex-direction: column;
        gap: 3rem
      }

      .number-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $color-white;

        .number {
          font-weight: bold;
          font-size: $font-size-xl;
          font-family: $font-title-extraBold;
        }

        .label {
          font-size: $font-size-lg;
          display: flex;
          flex-wrap: wrap;
        }
      }
    }

  }

  &__event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: $spacing-lg;
    font-size: $font-size-lg;
    color: $color-primary;
    gap: $spacing-md;
    background-color: $color-bg-secondary;
    padding: $spacing-md;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;


    &:hover {
      background-color: rgba($color-yellow, 0.2); // Leve transparencia
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); // Sombra sutil
      transform: translateY(-2px); // Leve elevación al pasar el mouse
    }

    p {
      margin: 0;
      font-weight: bold;
    }

    .date {
      display: flex;

      flex-direction: column;


    }

    h2,
    p {
      transition: color 0.3s ease, text-decoration-color 0.3s ease;
    }

    &:hover h2,
    &:hover p {
      color: $color-white; // Asegura contraste
      text-decoration: underline; // Refuerza que es un enlace
      text-decoration-thickness: 2px;
    }
  }
}

.section-slider {
  align-content: center;
  background: linear-gradient(to bottom, $color-bg-secondary 50%, $color-primary-bg 50%);
  @include responsive-height(100vh); // eliminar altura fija

  .slider-component {
    width: 100%;
    padding: 2rem;

    .slider-card {
      img {
        width: 100%;

        object-fit: cover;
        border-radius: 0 3rem 0 0;
        margin-bottom: 1rem;
      }
    }

  }
}

.section-pressArticle {
  background-color: $color-bg-secondary;
  // min-height: 100vh;
  // @include responsive-height();
  @include responsive-padding();

  &-content {
    justify-items: center;
    text-align: center;
    padding: $spacing-md $spacing-xl;
    // height: auto;
    @include responsive-grid($columns: 2);
    @include responsive-padding();

    @include mobile {
      padding: $spacing-sm $spacing-lg ;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline: $spacing-lg;
      color: $color-black;
      gap: $spacing-lg;

      @include mobile {
        padding-inline: 0rem;
      }

      h2 {
        width: 50%;
        @include title();

      }

      p {
        @include paragraph();
      }

      .button-container {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: $spacing-md;

        .button {
          @include button($color-yellow);
          padding: .5rem 4rem;


        }
      }
    }

    .image-container {
      position: relative;
      width: 100%;
      max-width: 600px;

      display: flex;
      justify-content: center;
      align-items: center;
      // height: 80%;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('@/assets/images/luisjaime.jpg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        filter: blur(10px);
        z-index: 0;

      }


      .image {
        position: relative;
        z-index: 1;
        width: 50%;
        height: 80%;
        object-fit: cover;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba($color-yellow, 0.1);

      }
    }
  }
}

.section-visits {
  background-color: $color-primary-bg;


  &-content {
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: $spacing-md $spacing-xl;
    color: $color-black;
    background-color: $color-bg-secondary;
    margin: $spacing-xl;
    border-radius: .5rem;
    padding: $spacing-xl $spacing-md;
    @include responsive-grid($columns: 2);

    @include responsive-padding();

    @include mobile {
      margin: $spacing-xl;
      padding: $spacing-md;
    }

    .image-container {
      height: 100%;
      width: 100%;

      .image {
        @include responsive-image($width: 100%, $height: 100%);
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline: $spacing-lg;
      gap: $spacing-lg;
      @include responsive-padding();

      h2 {
        @include title();
      }

      p {
        @include paragraph();
      }

      .button-container {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: $spacing-md;

        .button {
          @include button($color-yellow);
        }
      }
    }
  }
}

.section-testimonials {

  background-color: $color-bg-secondary;
  color: $color-primary;
  padding: $spacing-xl;
  padding-bottom: 3rem !important;
  @include responsive-padding();

  h2 {
    @include title($color: $color-primary);
    text-align: center;
    margin-bottom: $spacing-xl;
  }

  &-content {
    gap: $spacing-lg;
    padding: 0 $spacing-xl;
    @include responsive-grid($columns: 3);

    @include mobile {
      padding: $spacing-lg;
    }

    h2 {
      @include title();
      margin-bottom: $spacing-lg;
    }

    .testimonial-item {
      height: 100%;
      background-color: $color-white;
      padding: $spacing-md;
      border-radius: .5rem;
      box-shadow: 0 4px 8px rgba($color-black, 0.1);
      margin-bottom: $spacing-md;

      .testimonial-text {
        @include paragraph($color: $color-primary );

      }

      .testimonial-author {
        font-family: $font-text;
        margin-top: $spacing-sm;
      }
    }

  }



}