// @use '@/styles/variables' as *;
// @use '@/styles/mixins' as *;
// @use '@/styles/utilities' as *;

header {
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba($color-black, 0.1) !important;
    padding: .5rem 0rem !important;
}

.nav-link {
    text-decoration: none;
    color: $color-white !important;
    cursor: pointer;
    // font-weight: bold;

    &:hover {
        color: $color-yellow !important;
    }

    &:focus {
        color: $color-yellow !important;
    }

    &-submenu {
        color: $color-primary !important;
        // font-weight: 800;
        padding: 0.5rem 1rem;
        white-space: nowrap;

        &:hover {
            background-color: #034a164e !important;
            color: $color-primary !important;
        }
    }
}