@use '@/styles/mixins' as *;

.footer {
    background-color: $color-primary-bg;
    font-size: 1.2rem;
    padding: 2rem 2rem .5rem;
    text-align: center;
    font-size: 0.875rem;
    display: flex;
    // @include responsive-height(30vh);


    &-content {
        gap: 1rem;
        align-items: center;
        padding: 0 $spacing-lg;
        @include responsive-grid($columns: 2);

        .footer-logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;


            img {
                width: 40%;
                height: auto;
            }
        }

        .footer-navbar {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 2rem;

            .footer-link {
                color: white;
                text-decoration: none;

                &:hover {
                    color: $color-yellow;
                }
            }

        }

        .footer-socials {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            gap: 1rem;
            flex-direction: column;

            a {
                color: $color-white !important;
                text-decoration: none;
                transition: color 0.3s;
                display: flex;
                flex-direction: row;
                width: max-content;
                align-items: center;
                gap: 1rem;

                &:hover {
                    color: $color-yellow !important;
                }
            }

        }

        .footer-credits {
            display: flex;
            font-size: .8rem;
            color: $color-white;
            align-self: center;
            width: 100%;
            flex-wrap: wrap;

            @include mobile {
                justify-content: flex-end;
            }


            &-link {

                a {
                    color: inherit; // Mantiene el color del texto
                    text-decoration: none; // Elimina el subrayado
                    transition: color 0.3s;
                    font-family: $font-title-bold;

                    &:hover {
                        color: $color-yellow // Cambia el color al pasar el mouse
                    }
                }
            }
        }
    }


}